<% project = ProjectPresenter.new @project%>

<div>

  <div>
    <div>Keyname</div> :
    <span><%= project.keyname%></span>
  </div>

  <div>
    <div>Type</div> :
    <span><%= project.ptype%></span>
  </div>

</div>