<% post = PostPresenter.new @post%>

<div>

  <div>
    <div>Keyname</div> :
    <span><%= post.keyname%></span>
  </div>

  <div>
    <div>description</div> :
    <span><%= post.description%></span>
  </div>

</div>